# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift
#
# DISABLED: This workflow uses Swift Package Manager (swift build/test) which is not appropriate
# for this iOS Xcode project. It will be re-enabled once an Xcode project file is created.
# See specs/001-audio-strobe-sync/quickstart.md for project setup instructions.

name: Swift

on:
  workflow_dispatch: # Only run manually

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: swift build -v
    - name: Run tests
      run: swift test -v
